//----- RESET -----//

/** * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/) * http://cssreset.com * Copyright 2012 Yahoo! Inc. All rights reserved. * http://yuilibrary.com/license/ *//*TODO will need to remove setting  s on HTML since we can't namespace it.TODO with the prefix, should I g  roup by selector or property for weight savings?*/html{color:#000;bac   kground:#FFF;}/*TODO remove settings on BODY since we can't namespace   it.*//*TODO test putting a class on HEAD.- Fails on FF. */body,div,d      l,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0;}table {border-collapse:colla      pse;border-spacing:0;}fieldset,img {border:0;}/*TODO think about han      lding inheritence differently, maybe letting IE6 fail a bit...*/address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:norma   l;} ol,ul {list-style:none;} caption,th {text-align:left;}h1,h2,h3,   h4,h5,h6 {font-size:100%;font-weight:normal;}q:before,q:after {conte      nt:'';}abbr,acronym {border:0;font-variant:normal;}/* to preserve lin   e-height and selector appearance */sup {vertical-align:text-top;}sub {    vertical-align:text-bottom;}input,textarea,select {font-family:inheri t;font-size:inherit;font-weight:inherit;}/*to enable resizing for IE*   /input,textarea,select {*font-size:100%;}/*because legend doesn't inhe  rit in IE */legend {color:#000;}/* YUI CSS Detection Stamp */#yui3-css  -stamp.cssreset { display: none; }


@import "bourbon/bourbon"
@import "neat/neat-helpers"

// Override neat settings

$gutter: golden-ratio(2em, 1) !global
$max-width: 100% !global
//$visual-grid: true !global
$column: golden-ratio(1em, 3) !global

// Breakpoints
$sm: new-breakpoint(max-width 500px 4)
$md: new-breakpoint(max-width 800px 8)
$lg: new-breakpoint(max-width 1100px 12)
$xl: new-breakpoint(min-width 1101px 12)

@import "neat/neat"



//----- VARIABLES -----//

$openSans: 'OpenSans', sans-serif
$sanchez: 'Sanchez', serif
$satisfy: 'Satisfy', cursive

$brown: #221D1C
$beige: #EEEAE2
$white: #FFFFFF
$black: #000000
$mint: #8FBFB3
$red: #CD4836



//----- MIXINS -----//



//----- PLACEHOLDERS -----//

%body-text
  font-family: $sanchez
  color: $brown
  font-size: 18px
  line-height: 1.9
  @include media($sm)
    font-size: 16px
  a
    @extend %link


%body-text-light
  font-family: $sanchez
  color: $white
  font-size: 17px
  line-height: 1.8
  @include media($sm)
    font-size: 16px

%link
  color: $mint
  text-decoration: none
  &:visited, &:active
    color: $mint
  &:hover
    color: $red

%sans-heading
  font-family: $openSans
  font-weight: 800
  text-transform: uppercase

%small-heading
  @extend %sans-heading
  margin-bottom: 20px
  font-size: 15px
  line-height: 19px
  color: $red

%medium-heading
  @extend %sans-heading
  color: $brown
  font-size: 36px
  line-height: 66px

%large-heading
  @extend %sans-heading
  color: $brown
  font-size: 64px
  line-height: 66px
  @include media($md)
    font-size: 54px



//----- MAIN -----//

body
  width: 100%
  height: 100%

.trek-img
  width: 300px
  height: auto
  &.is-right
    float: right
    margin-left: $gutter
    @include media($md)
      width: 100%
      margin-bottom: $gutter
  &.is-left
    float: left
  &.is-bashir
    position: absolute
    top: -64px
    @include media($md)
      display: none
  &.is-worf
    position: absolute
    right: 0
    bottom: -120px
    @include media($md)
      width: 200px
  &.is-spock
    position: absolute
    right: 0
    width: 150px
    @include media($md)
      width: 100px
  &.is-klingons
    position: absolute
    width: 180px
    left: $column
    @include media($md)
      left: 50%
      margin-left: -90px
  &.is-q
    position: absolute
    width: 300px
    bottom: 0
    @include media($lg)
      width: 200px
    @include media($md)
      width: 150px
      bottom: 106px

.borg-bar
  width: 100%
  height: 100px
  background-color: $brown
  background: $brown url('img/borg.jpg') repeat
  @include media($md)
    height: auto
    padding-top: 10px
  &:after
    content: ""
    position: relative
    display: block
    width: 90px
    height: 100px
    margin: -14px auto
    background: url("img/klingon-header_2X.png") top left / contain no-repeat
    @include media($md)
      top: 28px
      margin: -34px auto
  a
    @extend %link


.borg-bar__heading--left
  @extend %small-heading
  float: left
  font-size: 13px
  padding: 40px 0 0 35px
  color: $beige
  @include media($lg)
  @include media($md)
    float: none
    padding: 10px 0 5px
    text-align: center
    margin-bottom: 10px
  @include media($sm)

.borg-bar__heading--right
  @extend %small-heading
  text-align: right
  font-size: 13px
  padding: 40px 35px 0 0
  color: $beige
  @include media($md)
    float: none
    padding: 10px 0
    text-align: center



//----- HEADER -----//

.header
  @include outer-container
  padding: $column*1.5 0 $gutter*2
  background-color: $beige
  @include media($md)
    padding: $column $column $column
  @include media($sm)
    padding: $column 0 $column

.heading--cursive
  margin-bottom: 30px
  text-align: center
  font-family: $satisfy
  font-size: 24px
  color: $brown
  line-height: 28px

.heading--names
  @extend %large-heading
  margin-bottom: 10px
  text-align: center

.heading--unite
  @extend %medium-heading
  text-align: center
  &:before, &:after
    content: url('img/x-pattern.png')
    vertical-align: text-bottom
    padding: 0 20px



//----- ARTICLE -----//

.article
  @include outer-container
  padding: $column 0 $gutter
  @include media($md)
    padding: $column*1.5 0 $gutter

.article__main
  position: relative
  overflow: auto
  &:after
    content: ""
    position: absolute
    bottom: 0
    display: block
    width: 100%
    height: 107px
    background: url("img/the-gang.jpg") center/cover no-repeat

.main__header
  margin-bottom: 10px

.main__heading--date
  @extend %large-heading
  margin-bottom: 50px
  font-size: 144px
  line-height: 130px
  text-align: center
  @include media($md)
    font-size: 80px
    margin-bottom: 10px

.main__heading--place
  @extend %large-heading
  margin-bottom: 30px
  color: $mint
  text-align: center
  @include media($md)
    position: relative
    z-index: 2

.main__heading--link
  @extend %link

.main__heading--address
  @extend %small-heading
  @include span-columns(4)
  float: none
  margin: 0 auto $column auto !important
  padding: 20px
  overflow: auto
  border: solid 3px $mint
  color: $mint
  text-align: center
  line-height: 1.8
  @include media($md)
    width: $column*3
    position: relative
    z-index: 2
    background-color: $white

.main__content--wrap
  @include span-columns(4)
  @include shift(2)
  margin-bottom: $column*2 + $gutter
  &:last-child
    @include shift(0)
    padding-left: $gutter
    border-left: 3px solid $beige
  @include media($lg)
    @include shift(1)
    @include span-columns(5)
  @include media($md)
    @include span-columns(6)
    @include shift(1)
    margin-bottom: $gutter
    &:last-child
      @include shift(1)
      border: none
      padding: 0
      margin-bottom: $column*2
  @include media($sm)
    @include span-columns(3)
    float: none
    margin: 0 auto $gutter
    &:last-child
      border: none
      padding: 0
      margin: 0 auto $gutter * 2

.main__content__heading
  @extend %small-heading

.main__content__text
  @extend %body-text


//----- TRANSPORTATION -----//

.article__transportation
  @include outer-container
  position: relative
  z-index: 1
  padding: $column 0 $column 0
  background-color: $brown

.transportation__content--wrap
  @include span-columns(2.75)
  @include shift(0)
  &:first-of-type
    @include shift(2)
  @include media($lg)
    @include span-columns(3.25)
    &:first-of-type
      @include shift(1)
  @include media($md)
    @include span-columns(6)
    @include shift(1)
    margin-bottom: $gutter/2
    &:first-of-type
      @include shift(1)
  @include media($sm)

.transportation__content__heading
  @extend %small-heading

.transportation__content__text
  @extend %body-text-light



//----- MAP -----//

.map--container
  margin: -42px 0 $column 0
  cursor: pointer
  iframe
    border: none !important
  @include media($md)
    margin-bottom: $gutter

.map--iframe
  &.is-disabled
    pointer-events: none



//----- FAQ -----//

.article__faq
  @include outer-container
  position: relative
  margin-bottom: $column


.faq__heading
  @extend %large-heading
  margin-bottom: 1em
  font-size: 144px
  line-height: 130px
  text-align: center
  @include media($md)
    font-size: 54px
    line-height: 1


.faq__content--wrap
  @include span-columns(8)
  @include shift(2)
  padding-bottom: $column
  border-bottom: 3px solid $beige
  margin-bottom: $column
  @include media($md)
    margin-bottom: $gutter
    padding-bottom: $gutter


.faq__content__heading
  @extend %small-heading


.faq__content__text
  @extend %body-text



//----- FOOTER -----//

.footer
  position: relative
  padding: $column 0 0
  background: $brown url('img/borg.jpg') repeat
  @include media($md)
    padding-top: $gutter

.footer__quote
  font-family: $satisfy
  font-size: 24px
  color: $beige
  line-height: 28px
  text-align: center
  margin-bottom: 30px
  &:before
    content: ""
    position: relative
    display: block
    width: 70px
    height: 100px
    margin: 0 auto 1em
    background: url("img/klingon-footer_2X.png") top left / contain no-repeat
  @include media($md)
    width: $column*4
    margin: 0 auto 10px
  @include media($sm)
    width: $column*3


.footer--heading
  @extend %small-heading
  text-align: center
  margin-bottom: $gutter


.footer__subfooter
  width: 100%
  padding: $gutter/2 0
  background-color: $red

.subfooter__text
  @extend %small-heading
  margin-bottom: 0
  color: $brown
  text-align: center
  line-height: 1.5
  a
    color: $brown
    &:hover
      color: $beige
    &:visited
  @include media($md)
    width: $column*6
    margin: 0 auto 10px
  @include media($sm)
    width: $column*5
