//----- RESET -----//

/** * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/) * http://cssreset.com * Copyright 2012 Yahoo! Inc. All rights reserved. * http://yuilibrary.com/license/ *//*TODO will need to remove setting  s on HTML since we can't namespace it.TODO with the prefix, should I g  roup by selector or property for weight savings?*/html{color:#000;bac   kground:#FFF;}/*TODO remove settings on BODY since we can't namespace   it.*//*TODO test putting a class on HEAD.- Fails on FF. */body,div,d      l,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0;}table {border-collapse:colla      pse;border-spacing:0;}fieldset,img {border:0;}/*TODO think about han      lding inheritence differently, maybe letting IE6 fail a bit...*/address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:norma   l;} ol,ul {list-style:none;} caption,th {text-align:left;}h1,h2,h3,   h4,h5,h6 {font-size:100%;font-weight:normal;}q:before,q:after {conte      nt:'';}abbr,acronym {border:0;font-variant:normal;}/* to preserve lin   e-height and selector appearance */sup {vertical-align:text-top;}sub {    vertical-align:text-bottom;}input,textarea,select {font-family:inheri t;font-size:inherit;font-weight:inherit;}/*to enable resizing for IE*   /input,textarea,select {*font-size:100%;}/*because legend doesn't inhe  rit in IE */legend {color:#000;}/* YUI CSS Detection Stamp */#yui3-css  -stamp.cssreset { display: none; }

@import "bourbon/bourbon"
@import "neat/neat"

$visual-grid: true !global
//$column: golden-ratio(1em, 3) !global
//$max-width: 100% !global

//----- VARIABLES -----//

$openSans: 'OpenSans', sans-serif
$sanchez: 'Sanchez', serif
$satisfy: 'Satisfy', cursive

$brown: #221D1C
$beige: #EEEAE2
$white: #FFFFFF
$black: #000000
$mint: #8FBFB3
$red: #CD4836

//----- MIXINS -----//

@mixin bottom-margin( $mult )
  margin-bottom: $mult * $gutter


//----- PLACEHOLDERS -----//

%body-text
  font-family: $sanchez
  color: $brown
  font-size: 17px
  line-height: 28px

%body-text-light
  font-family: $sanchez
  color: $white
  font-size: 17px
  line-height: 28px

%link
  color: $mint
  text-decoration: none
  &:visited, &:active
    color: $mint
  &:hover
    color: $red


%sans-heading
  font-family: $openSans
  font-weight: 800
  line-height: 66px
  text-transform: uppercase

%small-heading
  @extend %sans-heading
  font-size: 19px
  color: $red

%medium-heading
  @extend %sans-heading
  color: $brown
  font-size: 36px

%large-heading
  @extend %sans-heading
  color: $brown
  font-size: 64px


//----- MAIN -----//

body
  width: 100%
  height: 100%


.content


//----- HEADER -----//

.header
  @include outer-container
  @include bottom-margin(2)
  background-color: $beige


.borg-bar
  @include bottom-margin(6)
  width: 100%
  height: 100px
  background-color: $brown


.article
  @include outer-container


.heading--cursive
  @include bottom-margin(1)
  text-align: center
  font-family: $satisfy
  font-size: 24px
  color: $brown
  line-height: 28px

.heading--names
  @include bottom-margin(0.2)
  @extend %large-heading
  text-align: center

.heading--unite
  @include bottom-margin(2)
  @extend %medium-heading
  text-align: center


//----- ARTICLE -----//

.article


.article__main
  overflow: auto


.main__header
  @include bottom-margin(2)


.main__heading--date
  @extend %large-heading
  @include bottom-margin(0.2)
  font-size: 144px
  line-height: 130px
  text-align: center

.main__heading--place
  @include bottom-margin(0.5)
  @extend %large-heading
  @extend %link
  color: $mint
  text-align: center

.main__heading--address
  @extend %small-heading
  @include span-columns(5)
  overflow: auto
  float: none
  margin: auto !important
  color: $mint
  border: solid 2px $mint
  text-align: center


.main__content--wrap
  @include span-columns(4)
  @include shift(2)
  &:last-child
    @include shift(0)


.main__content__heading
  @extend %small-heading


.main__content__text
  @extend %body-text

//----- TRANSPORTATION -----//

.article__transportatation


.transportation__content--wrap


.transportation__content__heading
  @extend %small-heading


.transportation__content__text
  @extend %body-text-light

//----- MAP -----//

.map--container


//----- FAQ -----//

.article__faq


.faq__heading
  @extend %large-heading


.faq__content--wrap


.faq__content__heading
  @extend %small-heading


.faq__content__text
  @extend %body-text


//----- FOOTER -----//

.footer


.footer__quote
  font-family: $satisfy
  font-size: 24px
  color: $beige
  line-height: 28px


.footer--heading
  @extend %small-heading


.footer__subfooter



